<div class="row m-0">
  <div class="col">
    <tss-page-header [pageTitle]="pageTitle"></tss-page-header>
  </div>
</div>
<br>
<div class="row">
  <div class="col">
    <button class="btn btn-sm btn-primary" style="width: 100px; margin-right: 0.5em;">NEW</button>
    <button class="btn btn-sm btn-primary" style="width: 100px;">EDIT</button>
  </div>
  <div class="col" style="text-align: right;">
    <button class="btn btn-sm btn-danger" style="width: 100px;">DELETE</button>
  </div>
</div>
<br>
<div class="row">
  <div class="col">
    <table class="table table-striped table-bordered table-hover table-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Date Created</th>
          <th scope="col">Description</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of mockData; let i = index">
          <th scope="row">{{ item.id }}</th>
          <td>{{ item.dateCreated }}</td>
          <td>{{ item.description }}</td>
          <td>{{ item.status }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>